.title
{
    color: black;
    font-size: 20;
}
.body {
   
    text-align: center;
    font-family: 'Calligraffitti', cursive;
    overflow: auto; 

   background: #6868acdf;
  
    color: white;
   
    padding: 5vmin;
    font-family: 'Calligraffitti', cursive;
    font-size: min(200%, 5vmin);
  }

  body p {
    color: rgb(255, 255, 255);
  }
  body a {
    text-decoration: none;
  }
  body p {
    color: rgb(255, 255, 255);
  }
  body a {
    text-decoration: none;
  }

  body a:hover{
    color: white;
  
  }

  .row {
    align-items: center;
    display: flex;
  }


.footerDiv {
    margin-top: 30%;
    width: 100%;
  }
.d-grid{
    padding-top: 10px;
}


  .navRafal{
    padding-top: 10px;
  }
.form{
    padding-top: 30px;
    text-align: left
}