/* @import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&family=Calligraffitti&display=swap'); */

  
.name
{
  
  padding-left: 10px;
  /* text-align: center; */
  font-size: min(200%, 5vmin);

}
.body {
   
    text-align: center;
    font-family: 'Calligraffitti', cursive;
    overflow: auto; 

   background: #6868acdf;
  
    color: white;
   
    padding: 5vmin;
    font-family: 'Calligraffitti', cursive;
    font-size: min(200%, 5vmin);
  }

  body p {
    color: rgb(255, 255, 255);

    
  }
  body a {
    text-decoration: none;
  }
  
  /* body a:hover{
    color: white;

    
  
  } */

  .row {
    align-items: center;
    display: flex;
  }

/* Style the icon container */
.icon-container {
    width: 100px; /* Adjust the size as needed */
    height: 100px; /* Adjust the size as needed */
    border-radius: 50%; /* Creates a circular shape */
    overflow: hidden; /* Clips the image to the container */
    border: 3px solid #333; /* Optional border styling */
    background-color: #ccc; /* Optional background color */
    align-items: center;
    display: flex;
    justify-content: center; /* Center horizontally */

  }
  
  /* Style the image inside the container */
  .icon-container img {
    width: 100%; /* Make the image take up the entire container */
    height: 100%; /* Make the image take up the entire container */
    /* object-fit: cover; Preserve the aspect ratio and cover the container */
    ;
  }
  


.footerDiv {
    margin-top: 5%;
    width: 100%;
  }

  footer {
    margin-bottom: 5px;
    padding-bottom: 1%;
  }

 .frontend_icon{
  width: 100px;
  height: 100px;
 }

 .container2 {
  display: flex;
  align-items: center;
}

.frontend_icon {
  /* Add any styling for the image here */
  margin-right: 10px; /* Optional spacing between the image and text */
}

.avatarDiv,
.divImageText {
  display: inline-block;
  width: 30%;
  vertical-align: middle;
  text-align: start;
}

.divImageText{
  width: 40%;
}

.navRafal{
  padding-top: 10px;
}

.avatarDiv {
  vertical-align: middle;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #434444;
  margin-right: 5%;
  position: relative;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.jopclass {
  font-size: 20px;
  color: gainsboro;
  font-weight: lighter;
  margin-bottom: 3%;
}
.nameclass {
  color: white;
  font-weight: bold;
  margin-bottom: 8%;
}

.infoclass {
  color: rgb(215, 212, 212);
  text-align: justify;
}
.firstSection {
  margin-top: 5%;
}


















.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}


.ag-courses_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  padding: 50px 0;
}
.ag-courses_item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);

  margin: 0 15px 30px;

  overflow: hidden;

  border-radius: 28px;
}
.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #12121289;

  overflow: hidden;

  position: relative;
}
.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #FFF;
}
.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}
.ag-courses-item_title {
  /* min-height: 87px; */
  /* margin: 0 0 25px; */

  overflow: hidden;

  font-weight: bold;
  font-size: 30px;
  color: #FFF;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date-box {
  font-size: 18px;
  color: #c8c8d6df;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date {
  font-weight: bold;
  color: #f9b234;

  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease
}
.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #e680f3;

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #6aa3e5;
}
.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #d648e0;
}
.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: #952aff;
}
.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
  background-color: #cd3e94;
}
.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
  background-color: #4c49ea;
}



@media only screen and (max-width: 979px) {
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .ag-courses-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}
@media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }
  .ag-courses-item_link {
    padding: 22px 40px;
  }
  .ag-courses-item_date-box {
    font-size: 16px;
  }
}